
body {
  padding: 25px 35px;
  font-family: serif;
  font-size: 1.5em;
  line-height: 40px;
  background-color: wheat;
}

h1 {
  text-align: center;
  color: black;
  background-color: steelblue;
  margin: 1px;
  padding: 10px;
  border-radius: 10px;
}

img.dainty {
  width:300px;
  height:300px;
  float: right;
  padding: 10px;
  margin: 10px;
  background-color: slateblue;
  border-radius: 10px;
}

h5 {
  text-align: center;
  color:green;
  font-size: 1.5em;
  background-color: lightblue;
  border-radius: 20px;
}

img.dainty2 {
  width:300px;
  height:470px;
  padding: 10px;
  margin: 10px;
  background-color: slateblue;
  border-radius: 10px;
}

img.muffin {
  width:250px;
  height:400px;
  padding: 10px;
  margin: 10px;
  background-color: slateblue;
  border-radius: 10px;
}

img.coco {
  width:200px;
  height: 300px;
  padding: 10px;
  margin: 10px;
  background-color: slateblue;
  border-radius: 10px;
}

img.snoot {
  width:200px;
  height:300px;
  padding:10px;
  margin:10px;
  background-color: slateblue;
  border-radius: 10px;
  position: relative;
  left:450px;
  bottom:340px;
}

img.floppy {
  width:300px;
  height:300px;
  padding: 10px;
  margin: 1px;
  border-radius: 10px;
  background-color: slateblue;

}

img.stub {
  width:300px;
  height:200px;
  float: right;
  padding: 10px;
  margin: 1px;
  border-radius: 20px;
  background-color: slateblue;
}

img.whip {
  width:350px;
  height:200px;
  padding: 10px;
  margin: 1px;
  border-radius: 10px;
  background-color: slateblue;
}

h2 {
  text-align: center;
  color:green;
  font-size: 1.5em;
  background-color: lightblue;
  border-radius: 20px;
}

h3 {
  text-align: center;
  color:green;
  font-size: 1.5em;
  background-color: lightblue;
  border-radius: 20px;
}

h4 {
  text-align: center;
  color:green;
  font-size: 1.5em;
  background-color: lightblue;
  border-radius: 20px;
}
